main 
    width: 100%

    display: flex
    align-items: center
    justify-content: center
    .my-container
        width: 70%
        height: fit-content

        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        gap: 40px
        .header
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            h1
                margin: 0
                padding: 0
            h3
                margin: 0
                padding: 0
        .big-glass
            width: 200px
            height: 300px
            background-color: white
            border-bottom-left-radius: 40px
            border-bottom-right-radius: 40px
            border: #164dc0 solid 2px
        .small-glasses
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            gap: 20px
            .row-glasses
                display: flex
                align-items: center
                justify-content: center
                gap: 20px
                .my-glass
                    width: 50px
                    height: 100px
                    background-color: white
                    border-bottom-left-radius: 20px
                    border-bottom-right-radius: 20px
                    border: #164dc0 solid 2px
                    color: #164dc0
                    
                    display: flex
                    align-items: center
                    p
                        margin: 0
                        padding: 0
                        text-align: center
                .used-glass
                    background-color: #69b2f7
                    color: white

                        










    
