main 
    width: 100%
    height: 100%

    display: flex
    align-items: center
    justify-content: center
    .my-container
        width: 70%
        height: fit-content

        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        gap: 30px
        .header
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            h1
                margin: 0
                padding: 0
                color: white
            h3
                margin: 0
                padding: 0
                color: white
        .big-glass
            width: 200px
            height: 300px
            background-color: white
            border-bottom-left-radius: 40px
            border-bottom-right-radius: 40px
            border: #164dc0 solid 2px
            position: relative
            overflow: hidden
            h1
                color: #164dc0
                text-align: center
                font-size: 30px
                position: absolute
                left: 0
                right: 0
                top: 120px
                margin: 0
                padding: 0
                transition: 3s
            #sub-title
                position: absolute
                left: 0
                right: 0
                top: 150px
                text-align: center
                color: #164dc0
                margin: 0
                padding: 0
                transition: 3s
            .glass-fill
                position: absolute 
                width: 100%
                height: 0
                border-bottom-left-radius: 40px
                border-bottom-right-radius: 40px
                bottom: 0
                text-align: center
                background-color: #69b2f7
                transition: 3s

                display: flex
                justify-content: center
                align-items: center
                #count
                    margin: 0
                    padding: 0
                    color: #114ec4
                    font-size: 30px                    
        .sub-header
            color: white
            margin: 0
            padding: 0
            font-size: 20px
        .small-glasses
            display: flex
            align-items: center
            justify-content: center
            flex-wrap: wrap
            gap: 20px
            .my-glass
                width: 50px
                height: 100px
                background-color: white
                border-bottom-left-radius: 20px
                border-bottom-right-radius: 20px
                border: #164dc0 solid 2px
                color: #164dc0
                    
                display: flex
                align-items: center
                p
                    margin: 0
                    padding: 0
                    text-align: center
            .change-color
                background-color: #69b2f7
             
                        










    
